<!DOCTYPE html>
<html>
<head lang="vi">
	<% include googleana%>
    <meta charset="utf-8">
    <link rel="icon" href="https://file.hstatic.net/1000287322/file/favicon_1_b09391da48434a18adff152c53967093.png" type="image/x-icon"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- HTML Meta Tags -->
<title>thuốc chuẩn mua ở đâu</title>
<meta name="description" content="thuốc chuẩn mua ở đâu tại  Thành Phố Hồ Chí Minh"/>
<meta name="keywords" content="thuốc chuẩn mua ở đâu tại  Thành Phố Hồ Chí Minh"/>
 
<!-- Google / Search Engine Tags -->
<meta itemprop="name" content="thuốc chuẩn mua ở đâu tại  Thành Phố Hồ Chí Minh"/>
<meta itemprop="description" content="thuốc chuẩn mua ở đâu tại  Thành Phố Hồ Chí Minh"/>

 
<!-- Facebook Meta Tags -->

<meta property="og:type" content="nhathuocchuan"/>
<meta property="og:title" content="thuốc chuẩn mua ở đâu tại  Thành Phố Hồ Chí Minh"/>
<meta property="og:description" content="thuốc chuẩn mua ở đâu tại  Thành Phố Hồ Chí Minh"/>

<meta property="og:keywords" content="chuẩn, , Thành Phố Hồ Chí Minh"/>
 
<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image"/>
<meta name="twitter:title" content="thuốc chuẩn mua ở đâu tại  Thành Phố Hồ Chí Minh"/>
<meta name="twitter:site" content="nhathuocchuan"/>
<meta name="twitter:description" content="thuốc chuẩn mua ở đâu tại  Thành Phố Hồ Chí Minh"/>

<!-- SEO meta tags -->

</head>

<body>
   
		<% include headernt%>
			<br/>
			<br/>

	<div class="container pt-5">
	<h1> Danh mục Mỹ Phẩm</h1>
	<br/>
		<div class="row">
			<div class="col-6 col-sm-4 col-md-3 text-center">
				<a class="align-middle" href="/collectionnt/<%=nhathuoc.idnt%>/kem-ht-tri-tham-mun">
					<img src="https://file.hstatic.net/1000287322/file/kem_ht_tri_tham_mun_41a2d43763ca42408cb2b0fdeafd8b32.png" alt="Kem HT Trị Thâm Mụn" class="w-50">
					<p>Kem HT Trị Thâm Mụn</p>
				</a>
			</div>

			<div class="col-6 col-sm-4 col-md-3 text-center">
			<a class="align-middle" href="/collectionnt/<%=nhathuoc.idnt%>/chong-nang-tri-nam">
				<img src="https://file.hstatic.net/1000287322/file/chong_nang_tri_nam_efb57eac8e8144ad8dbcdd37b585c579.png" alt="Chống Nắng Trị Nám" class="w-50">
				<p>Chống Nắng Trị Nám</p>
			</a>
			</div>

			<div class="col-6 col-sm-4 col-md-3 text-center">
			<a class="align-middle" href="/collectionnt/<%=nhathuoc.idnt%>/san-pham-danh-cho-toc">
				<img src="https://file.hstatic.net/1000287322/file/bo_moc_toc_3c848ed431c348f48eb58841193c65f4.jpg" alt="Sản Phẩm Dành Cho Tóc" class="w-50">
				<p>Sản Phẩm Dành Cho Tóc</p>
			</a>
			</div>

			<div class="col-6 col-sm-4 col-md-3 text-center">
			<a class="align-middle" href="/collectionnt/<%=nhathuoc.idnt%>/cham-soc-da">
				<img src="https://file.hstatic.net/1000287322/file/vien_uong_dep_da_2a7913ae1613403dbc6bd6c6930439e2.jpg" alt="Chăm Sóc Da" class="w-50">
				<p>Chăm Sóc Da</p>
			</a>
			</div>

			<div class="col-6 col-sm-4 col-md-3 text-center">
			<a class="align-middle" href="/collectionnt/<%=nhathuoc.idnt%>/duong-the-collagen">
				<img src="https://file.hstatic.net/1000287322/file/collagen_7660e58f781b46ec8a27aafa0fbe12ca.jpg" alt="Dưỡng Thể-Collagen" class="w-50">
				<p>Dưỡng Thể-Collagen</p>
			</a>
			</div>

			<div class="col-6 col-sm-4 col-md-3 text-center">
			<a class="align-middle" href="/collectionnt/<%=nhathuoc.idnt%>/nuoc-hoa">
				<img src="https://file.hstatic.net/1000287322/file/nuoc_hoa_9823ef079c23468d99573fa991ab145b.jpg" alt="Nước Hoa" class="w-50">
				<p>Nước Hoa</p>
			</a>
			</div>

			<div class="col-6 col-sm-4 col-md-3 text-center">
			<a class="align-middle" href="/collectionnt/<%=nhathuoc.idnt%>/son-mong-rua-mong">
				<img src="https://file.hstatic.net/1000287322/file/son_mong_rua_mong_f26599f832d84914bc524c140b429c9c.jpg" alt="Sơn Móng Rửa Móng" class="w-50">
				<p>Sơn Móng Rửa Móng</p>
			</a>
			</div>

			<div class="col-6 col-sm-4 col-md-3 text-center">
			<a class="align-middle" href="/collectionnt/<%=nhathuoc.idnt%>/my-pham-nam">
				<img src="https://file.hstatic.net/1000287322/file/my_pham_nam_05b153d07c7b48139fff5cd78b115a2e.jpg" alt="Mỹ Phẩm Nam" class="w-50">
				<p>Mỹ Phẩm Nam</p>
			</a>
			</div>

			<div class="col-6 col-sm-4 col-md-3 text-center">
			<a class="align-middle" href="/collectionnt/<%=nhathuoc.idnt%>/tinh-dau-thien-nhien">
				<img src="https://file.hstatic.net/1000287322/file/tinh_dau_thien_nhien_c5b57fde24f44189bf9e31368e00ca2f.jpg" alt="Tinh Dầu Thiên Nhiên" class="w-50">
				<p>Tinh Dầu Thiên Nhiên</p>
			</a>
			</div>

			<div class="col-6 col-sm-4 col-md-3 text-center">
			<a class="align-middle" href="/collectionnt/<%=nhathuoc.idnt%>/tuyen-tap-son-moi">
				<img src="https://file.hstatic.net/1000287322/file/tuyet_tap_son_moi_8020b3ecbea4441c8c5ec0993661e446.jpg" alt="Tuyển Tập Son Môi" class="w-50">
				<p>Tuyển Tập Son Môi</p>
			</a>
			</div>

			<div class="col-6 col-sm-4 col-md-3 text-center">
			<a class="align-middle" href="/collectionnt/<%=nhathuoc.idnt%>/kem-lam-mo-seo">
				<img src="https://file.hstatic.net/1000287322/file/kem_lam_mo_seo_aaea63eacf1548dba0b88e6768f5e024.jpg" alt="Kem Làm Mờ Sẹo" class="w-50">
				<p>Kem Làm Mờ Sẹo</p>
			</a>
			</div>
			<div class="col-6 col-sm-4 col-md-3 text-center">
			<a class="align-middle" href="/collectionnt/<%=nhathuoc.idnt%>/kem-tan-mo">
				<img src="https://file.hstatic.net/1000287322/file/kem_tan_mo_cd474406e70e47dc9aa1244c1562624a.jpg" alt="Kem Tan Mỡ" class="w-50">
				<p>Kem Tan Mỡ</p>
			</a>
			</div>
			<div class="col-6 col-sm-4 col-md-3 text-center">
			<a class="align-middle" href="/collectionnt/<%=nhathuoc.idnt%>/kem-lam-trang-da">
				<img src="https://file.hstatic.net/1000287322/file/vien_uong_dep_da_2a7913ae1613403dbc6bd6c6930439e2.jpg" alt="Kem Làm Trắng Da" class="w-50">
				<p>Kem Làm Trắng Da</p>
			</a>
			</div>
			<div class="col-6 col-sm-4 col-md-3 text-center">
			<a class="align-middle" href="/collectionnt/<%=nhathuoc.idnt%>/my-pham-khac">
				<img src="http://choiceworker.com/category/img/other-other.jpg" alt="Mỹ Phẩm Khác" class="w-50">
				<p>Mỹ Phẩm Khác</p>
			</a>
			</div>
		</div>
	</div>
	

      <p style="clear: both"></p>
      
        <br/>
        <br/>
        <br/>
        <br/>
        <hr/>
        <hr/>
    <% include footer%>
</body>
</html>
