<!DOCTYPE html>
<html>
<head lang="vi">

	<meta http-equiv="content-language" content="vi" />
	<link rel="alternate" href="http://www.nhathuocchuan.com" hreflang="vi-vn" />
	<meta name="google-site-verification" content="GlgW7E7_Jc8abfqb__e4rLDgaMLMObGDdK4Ixr5SFkM" />
    <meta charset="utf-8">
    <link rel="icon" href="https://file.hstatic.net/1000287322/file/favicon_1_b09391da48434a18adff152c53967093.png" type="image/x-icon"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- HTML Meta Tags -->
<title>thuốc chuẩn mua ở đâu</title>
<meta name="description" content="thuốc chuẩn mua ở đâu tại  Thành Phố Hồ Chí Minh"/>
<meta name="keywords" content="thuốc chuẩn mua ở đâu tại  Thành Phố Hồ Chí Minh"/>
 
<!-- Google / Search Engine Tags -->
<meta itemprop="name" content="thuốc chuẩn mua ở đâu tại  Thành Phố Hồ Chí Minh"/>
<meta itemprop="description" content="thuốc chuẩn mua ở đâu tại  Thành Phố Hồ Chí Minh"/>

 
<!-- Facebook Meta Tags -->

<meta property="og:type" content="nhathuocchuan"/>
<meta property="og:title" content="thuốc chuẩn mua ở đâu tại  Thành Phố Hồ Chí Minh"/>
<meta property="og:description" content="thuốc chuẩn mua ở đâu tại  Thành Phố Hồ Chí Minh"/>

<meta property="og:keywords" content="chuẩn, , Thành Phố Hồ Chí Minh"/>
 
<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image"/>
<meta name="twitter:title" content="thuốc chuẩn mua ở đâu tại  Thành Phố Hồ Chí Minh"/>
<meta name="twitter:site" content="nhathuocchuan"/>
<meta name="twitter:description" content="thuốc chuẩn mua ở đâu tại  Thành Phố Hồ Chí Minh"/>

<!-- SEO meta tags -->

</head>

<body>
   
		<% include header%>
		
		

		<div class="container">
			<hr>
			<h2>Bổ Mọc Tóc </h2>
			<hr>
			<div class="row">

				<%bomoctoc.forEach(function(item){%>
				<%var m=item.socongbo.toLowerCase().split('/').join('').split('đ').join('d');%>
				<div class="col-6 col-sm-4 col-lg-2">
		        	<a href="/productsv/<%=item.url%>"><img src="<%=item.linkhinh%>" alt="<%=item.tensanpham%>" style='width: 90%'>
		       		<p> <%=item.tensanpham%> </p></a>
		       		<p>Giá Bán: <%=item.giaban.slice(0,-3).concat(".",item.giaban.slice(-3))%>đ </p>
				</div>
				<%});%>
			</div>
		</div>
		
		<div class="container">

			<h2>Bổ Gan Mật </h2>
			<hr>
			<div class="row">

				<%boganmat.forEach(function(item){%>
				<%var m=item.socongbo.toLowerCase().split('/').join('').split('đ').join('d');%>
				<div class="col-6 col-sm-4 col-lg-2">
		        	<a href="/productsv/<%=item.url%>"><img src="<%=item.linkhinh%>" alt="<%=item.tensanpham%>" style='width: 90%'>
		       		<p> <%=item.tensanpham%> </p></a>
		       		<p>Giá Bán: <%=item.giaban.slice(0,-3).concat(".",item.giaban.slice(-3))%>đ </p>
				</div>
				<%});%>
			</div>
		</div>

		<div class="container">
			<hr>
			<h2>Bổ Trí Não </h2>
			<hr>
			<div class="row">

				<%botrinao.forEach(function(item){%>
				<%var m=item.socongbo.toLowerCase().split('/').join('').split('đ').join('d');%>
				<div class="col-6 col-sm-4 col-lg-2">
		        	<a href="/productsv/<%=item.url%>"><img src="<%=item.linkhinh%>" alt="<%=item.tensanpham%>" style='width: 90%'>
		       		<p> <%=item.tensanpham%> </p></a>
		       		<p>Giá Bán: <%=item.giaban.slice(0,-3).concat(".",item.giaban.slice(-3))%>đ </p>
				</div>
				<%});%>
			</div>
		</div>

		<div class="container">
			<hr>
			<h2>Collagen </h2>
			<hr>
			<div class="row">

				<%collagen.forEach(function(item){%>
				<%var m=item.socongbo.toLowerCase().split('/').join('').split('đ').join('d');%>
				<div class="col-6 col-sm-4 col-lg-2">
		        	<a href="/productsv/<%=item.url%>"><img src="<%=item.linkhinh%>" alt="<%=item.tensanpham%>" style='width: 90%'>
		       		<p> <%=item.tensanpham%> </p></a>
		       		<p>Giá Bán: <%=item.giaban.slice(0,-3).concat(".",item.giaban.slice(-3))%>đ </p>
				</div>
				<%});%>
			</div>
		</div>
		<div class="container">
			<hr>
			<h2>Bổ Mắt </h2>
			<hr>
			<div class="row">

				<%bomat.forEach(function(item){%>
				<%var m=item.socongbo.toLowerCase().split('/').join('').split('đ').join('d');%>
				<div class="col-6 col-sm-4 col-lg-2">
		        	<a href="/productsv/<%=item.url%>"><img src="<%=item.linkhinh%>" alt="<%=item.tensanpham%>" style='width: 90%'>
		       		<p> <%=item.tensanpham%> </p></a>
		       		<p>Giá Bán: <%=item.giaban.slice(0,-3).concat(".",item.giaban.slice(-3))%>đ </p>
				</div>
				<%});%>
			</div>
		</div>
	
		<div class="container">
			<hr>
			<h2>Bổ Xương Khớp </h2>
			<hr>
			<div class="row">

				<%boxuongkhop.forEach(function(item){%>
				<%var m=item.socongbo.toLowerCase().split('/').join('').split('đ').join('d');%>
				<div class="col-6 col-sm-4 col-lg-2">
		        	<a href="/productsv/<%=item.url%>"><img src="<%=item.linkhinh%>" alt="<%=item.tensanpham%>" style='width: 90%'>
		       		<p> <%=item.tensanpham%> </p></a>
		       		<p>Giá Bán: <%=item.giaban.slice(0,-3).concat(".",item.giaban.slice(-3))%>đ </p>
				</div>
				<%});%>
			</div>
		</div>

		<div class="container">
			<hr>
			<h2>Đường Tiêu Hóa </h2>
			<hr>
			<div class="row">

				<%duongtieuhoa.forEach(function(item){%>
				<%var m=item.socongbo.toLowerCase().split('/').join('').split('đ').join('d');%>
				<div class="col-6 col-sm-4 col-lg-2">
		        	<a href="/productsv/<%=item.url%>"><img src="<%=item.linkhinh%>" alt="<%=item.tensanpham%>" style='width: 90%'>
		       		<p> <%=item.tensanpham%> </p></a>
		       		<p>Giá Bán: <%=item.giaban.slice(0,-3).concat(".",item.giaban.slice(-3))%>đ </p>
				</div>
				<%});%>
			</div>
		</div>

		<div class="container">
			<hr>
			<h2>Giảm Cân An Toàn</h2>
			<hr>
			<div class="row">

				<%giamcanantoan.forEach(function(item){%>
				<%var m=item.socongbo.toLowerCase().split('/').join('').split('đ').join('d');%>
				<div class="col-6 col-sm-4 col-lg-2">
		        	<a href="/productsv/<%=item.url%>"><img src="<%=item.linkhinh%>" alt="<%=item.tensanpham%>" style='width: 90%'>
		       		<p> <%=item.tensanpham%> </p></a>
		       		<p>Giá Bán: <%=item.giaban.slice(0,-3).concat(".",item.giaban.slice(-3))%>đ </p>
				</div>
				<%});%>
			</div>
		</div>

		<div class="container">
			<hr>
			<h2>Sinh Lý Nam </h2>
			<hr>
			<div class="row">

				<%sinhlynam.forEach(function(item){%>
				<%var m=item.socongbo.toLowerCase().split('/').join('').split('đ').join('d');%>
				<div class="col-6 col-sm-4 col-lg-2">
		        	<a href="/productsv/<%=item.url%>"><img src="<%=item.linkhinh%>" alt="<%=item.tensanpham%>" style='width: 90%'>
		       		<p> <%=item.tensanpham%> </p></a>
		       		<p>Giá Bán: <%=item.giaban.slice(0,-3).concat(".",item.giaban.slice(-3))%>đ </p>
				</div>
				<%});%>
			</div>
		</div>

		<div class="container">
			<hr>
			<h2>Sinh Lý Nữ </h2>
			<hr>
			<div class="row">

				<%sinhlynu.forEach(function(item){%>
				<%var m=item.socongbo.toLowerCase().split('/').join('').split('đ').join('d');%>
				<div class="col-6 col-sm-4 col-lg-2">
		        	<a href="/productsv/<%=item.url%>"><img src="<%=item.linkhinh%>" alt="<%=item.tensanpham%>" style='width: 90%'>
		       		<p> <%=item.tensanpham%> </p></a>
		       		<p>Giá Bán: <%=item.giaban.slice(0,-3).concat(".",item.giaban.slice(-3))%>đ </p>
				</div>
				<%});%>
			</div>
		</div>

		<div class="container">
			<hr>
			<h2>Tiểu Đường Mỡ Máu </h2>
			<hr>
			<div class="row">

				<%tieuduongmomau.forEach(function(item){%>
				<%var m=item.socongbo.toLowerCase().split('/').join('').split('đ').join('d');%>
				<div class="col-6 col-sm-4 col-lg-2">
		        	<a href="/productsv/<%=item.url%>"><img src="<%=item.linkhinh%>" alt="<%=item.tensanpham%>" style='width: 90%'>
		       		<p> <%=item.tensanpham%> </p></a>
		       		<p>Giá Bán: <%=item.giaban.slice(0,-3).concat(".",item.giaban.slice(-3))%>đ </p>
				</div>
				<%});%>
			</div>
		</div>

		<div class="container">
			<hr>
			<h2>Thận Niệu</h2>
			<hr>
			<div class="row">

				<%thannieu.forEach(function(item){%>
				<%var m=item.socongbo.toLowerCase().split('/').join('').split('đ').join('d');%>
				<div class="col-6 col-sm-4 col-lg-2">
		        	<a href="/productsv/<%=item.url%>"><img src="<%=item.linkhinh%>" alt="<%=item.tensanpham%>" style='width: 90%'>
		       		<p> <%=item.tensanpham%> </p></a>
		       		<p>Giá Bán: <%=item.giaban.slice(0,-3).concat(".",item.giaban.slice(-3))%>đ </p>
				</div>
				<%});%>
			</div>
		</div>

		<div class="container">
			<hr>
			<h2>Tim Mạch Huyết Áp </h2>
			<hr>
			<div class="row">

				<%timmachhuyetap.forEach(function(item){%>
				<%var m=item.socongbo.toLowerCase().split('/').join('').split('đ').join('d');%>
				<div class="col-6 col-sm-4 col-lg-2">
		        	<a href="/productsv/<%=item.url%>"><img src="<%=item.linkhinh%>" alt="<%=item.tensanpham%>" style='width: 90%'>
		       		<p> <%=item.tensanpham%> </p></a>
		       		<p>Giá Bán: <%=item.giaban.slice(0,-3).concat(".",item.giaban.slice(-3))%>đ </p>
				</div>
				<%});%>
			</div>
		</div>

		<div class="container">
			<hr>
			<h2>Tăng Cân An Toàn</h2>
			<hr>
			<div class="row">

				<%tangcanantoan.forEach(function(item){%>
				<%var m=item.socongbo.toLowerCase().split('/').join('').split('đ').join('d');%>
				<div class="col-6 col-sm-4 col-lg-2">
		        	<a href="/productsv/<%=item.url%>"><img src="<%=item.linkhinh%>" alt="<%=item.tensanpham%>" style='width: 90%'>
		       		<p> <%=item.tensanpham%> </p></a>
		       		<p>Giá Bán: <%=item.giaban.slice(0,-3).concat(".",item.giaban.slice(-3))%>đ </p>
				</div>
				<%});%>
			</div>
		</div>

		<div class="container">
			<hr>
			<h2>Viêm Đường Hô Hấp</h2>
			<hr>
			<div class="row">

				<%viemduonghohap.forEach(function(item){%>
				<%var m=item.socongbo.toLowerCase().split('/').join('').split('đ').join('d');%>
				<div class="col-6 col-sm-4 col-lg-2">
		        	<a href="/productsv/<%=item.url%>"><img src="<%=item.linkhinh%>" alt="<%=item.tensanpham%>" style='width: 90%'>
		       		<p> <%=item.tensanpham%> </p></a>
		       		<p>Giá Bán: <%=item.giaban.slice(0,-3).concat(".",item.giaban.slice(-3))%>đ </p>
				</div>
				<%});%>
			</div>
		</div>

		<div class="container">
			<hr>
			<h2>Nhân Sâm Linh Chi</h2>
			<hr>
			<div class="row">

				<%nhansamlinhchi.forEach(function(item){%>
				<%var m=item.socongbo.toLowerCase().split('/').join('').split('đ').join('d');%>
				<div class="col-6 col-sm-4 col-lg-2">
		        	<a href="/productsv/<%=item.url%>"><img src="<%=item.linkhinh%>" alt="<%=item.tensanpham%>" style='width: 90%'>
		       		<p> <%=item.tensanpham%> </p></a>
		       		<p>Giá Bán: <%=item.giaban.slice(0,-3).concat(".",item.giaban.slice(-3))%>đ </p>
				</div>
				<%});%>
			</div>
		</div>

		<div class="container">
			<hr>
			<h2>Đông Trùng Hạ Thảo</h2>
			<hr>
			<div class="row">

				<%dongtrunghathao.forEach(function(item){%>
				<%var m=item.socongbo.toLowerCase().split('/').join('').split('đ').join('d');%>
				<div class="col-6 col-sm-4 col-lg-2">
		        	<a href="/productsv/<%=item.url%>"><img src="<%=item.linkhinh%>" alt="<%=item.tensanpham%>" style='width: 90%'>
		       		<p> <%=item.tensanpham%> </p></a>
		       		<p>Giá Bán: <%=item.giaban.slice(0,-3).concat(".",item.giaban.slice(-3))%>đ </p>
				</div>
				<%});%>
			</div>
		</div>

		<div class="container">
			<hr>
			<h2>Viên Uống Trắng Da</h2>
			<hr>
			<div class="row">

				<%vienuongtrangda.forEach(function(item){%>
				<%var m=item.socongbo.toLowerCase().split('/').join('').split('đ').join('d');%>
				<div class="col-6 col-sm-4 col-lg-2">
		        	<a href="/productsv/<%=item.url%>"><img src="<%=item.linkhinh%>" alt="<%=item.tensanpham%>" style='width: 90%'>
		       		<p> <%=item.tensanpham%> </p></a>
		       		<p>Giá Bán: <%=item.giaban.slice(0,-3).concat(".",item.giaban.slice(-3))%>đ </p>
				</div>
				<%});%>
			</div>
		</div>

		<div class="container">
			<hr>
			<h2>Vitamin Khoáng Chất</h2>
			<hr>
			<div class="row">

				<%vitaminkhoangchat.forEach(function(item){%>
				<%var m=item.socongbo.toLowerCase().split('/').join('').split('đ').join('d');%>
				<div class="col-6 col-sm-4 col-lg-2">
		        	<a href="/productsv/<%=item.url%>"><img src="<%=item.linkhinh%>" alt="<%=item.tensanpham%>" style='width: 90%'>
		       		<p> <%=item.tensanpham%> </p></a>
		       		<p>Giá Bán: <%=item.giaban.slice(0,-3).concat(".",item.giaban.slice(-3))%>đ </p>
				</div>
				<%});%>
			</div>
		</div>

		<div class="container">
			<hr>
			<h2>Cốm Cho Trẻ Biếng Ăn</h2>
			<hr>
			<div class="row">

				<%comchotrebiengan.forEach(function(item){%>
				<%var m=item.socongbo.toLowerCase().split('/').join('').split('đ').join('d');%>
				<div class="col-6 col-sm-4 col-lg-2">
		        	<a href="/productsv/<%=item.url%>"><img src="<%=item.linkhinh%>" alt="<%=item.tensanpham%>" style='width: 90%'>
		       		<p> <%=item.tensanpham%> </p></a>
		       		<p>Giá Bán: <%=item.giaban.slice(0,-3).concat(".",item.giaban.slice(-3))%>đ </p>
				</div>
				<%});%>
			</div>
		</div>
	

      
        <br/>
        <br/>
        <br/>
        <br/>
        <hr/>
        <hr/>
    <% include footer%>
    
</body>
</html>