<html>
    <head>
        <meta charset="utf-8">
        <title>Nhà Thuốc Chuẩn: Luôn Miễn Phí</title>
        <meta name="description" content="Nhà Thuốc Chuẩn - Nhà Thuốc Uy tín">
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="icon" href="https://file.hstatic.net/1000287322/file/favicon_1_b09391da48434a18adff152c53967093.png" type="image/x-icon"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
    </head>
    <body> 
        <div class="container pt-5 bg-light text-dark">
			<nav class="navbar navbar-expand-md bg-success navbar-dark">
  				<img class="w-50" src='https://file.hstatic.net/1000287322/file/the_trang_66f662603c8549e6b2b9be05874acdfc.png' alt="logo">
			</nav>
			<h1 class="pt-3">Sửa Thông Tin</h1>

            <form method="POST" action="/kenhnhathuoc/suathongtin">
                <%if (errors!==""){%>
                <div class="alert alert-danger"><%=errors%></div>
                <%};%>
                <div class="form-group">
                    <label>Họ Và Tên:</label>
                  <input class="form-control" id="name" name="name" placeholder="Họ Và Tên" type="text" value="<%=values===''?values:values.name%>" required/>
                </div>
                <div class="form-group">
                    <label>Số Điện Thoại:</label>
                  <input class="form-control" id="phone" name="phone" placeholder="VD: 0937994901" type="number" value="<%=values===''?values:values.phone%>" required/>
                </div>
                
                <div class="form-group">
                    <label>Địa Chỉ:</label>
                  <input class="form-control" id="adress" name="address" placeholder="Địa Chỉ: Số Nhà - Tên Đường/Thôn Xóm" type="text" value="<%=values===''?values:values.address%>" required/>
                </div>
                <p>- <%=user.xaphuong%> - <%=user.quanhuyen%> <%=user.tinhthanh%></p> 
                
            <button>Lưu Thông Tin</button>
            </form>

        </div>
        <div class="pt-5 pb-5"></div>
    </body> 
</html>